In [ ]:
Table 1:
EmpId EmpName
 
 
Table 2:
EmpId ExpenseType ExpenseAmnt Month
 
 
Output Table
EmpName TotalAmnt Month

In [ ]:
select EmpName , sum(ExpenseAmnt) as TotalAmnt , Month from (select * from tb1 inner_join tb2 on tbl.empid == tb2.emp_id) as tb3 group by Month, EmpName

In [ ]:
df3 = tb1.merge(tb2, how = inner, on= EmpId)
df3.groupy(Month,EmpName)[ExpenseAmnt].sum().reset_index()
df3.groupy(Month,EmpName)[ExpenseAmnt].sum()

NameError: name 'tb1' is not defined

In [1]:
df3.groupy(Month,EmpName)[ExpenseAmnt].sum()

NameError: name 'df3' is not defined