In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D'],
    'salary': [50000, 70000, 60000, 70000]
})

df['rank'] = df['salary'].rank()
print(df)

  name  salary  rank
0    A   50000   1.0
1    B   70000   3.5
2    C   60000   2.0
3    D   70000   3.5

In [4]:
df["rank_desc"] = df["salary"].rank(ascending=False)
print(df)

  name  salary  rank  rank_desc
0    A   50000   1.0        4.0
1    B   70000   3.5        1.5
2    C   60000   2.0        3.0
3    D   70000   3.5        1.5

In [5]:
df['rank_avg']   = df['salary'].rank(method='average')  # default
df['rank_min']   = df['salary'].rank(method='min')      # SQL RANK()
df['rank_dense'] = df['salary'].rank(method='dense')    # SQL DENSE_RANK()
df['rank_first'] = df['salary'].rank(method='first')    # based on order

In [6]:
df

  name  salary  rank  rank_desc  rank_avg  rank_min  rank_dense  rank_first
0    A   50000   1.0        4.0       1.0       1.0         1.0         1.0
1    B   70000   3.5        1.5       3.5       3.0         3.0         3.0
2    C   60000   2.0        3.0       2.0       2.0         2.0         2.0
3    D   70000   3.5        1.5       3.5       3.0         3.0         4.0

In [8]:
df = pd.DataFrame({
    'dept': ['IT', 'IT', 'HR', 'HR'],
    'name': ['A', 'B', 'C', 'D'],
    'salary': [70000, 60000, 50000, 70000]
})

df['rank_dense'] = df.groupby('dept')['salary'].rank(
    method='dense', ascending=False
)
print(df)

  dept name  salary  rank_dense
0   IT    A   70000         1.0
1   IT    B   60000         2.0
2   HR    C   50000         2.0
3   HR    D   70000         1.0