DataFrame.rank(`axis`=0, `method`='average', `numeric_only`=_NoDefault.no_default, `na_option`='keep', `ascending`=True, `pct`=False)


#### Parameters

- It is 0 or index for rows and 1 or column for columns. It is zero by default.
- It is an index to direct the ranking (if the axis is 0 it will direct toward rows and if the axis is 1, ranking will be done along columns).
- This parameter is unused for Pandas Series, so defaults to 0.


#### method:

- It is the way to rank the group of records that have the same value.
- `average`: It is the average rank of the group
- `min`: min is for the lowest rank in the group
- `max`: highest rank in the group
- `first`: rankings are given according to the array's order of appearance.
- `dense`: similar to "min," but rank is always increased by 1 across groups.

#### na_option:

- It is the way to rank NaN (Null) values.
- It takes 3 string inputs as keep, top, and bottom, and can be the default keep.
- Keep: give NaN ranks to NaN values
- top: give NaN values the lowest rank possible
- bottom: give NaN values the highest rank possible


#### ascending:

- It is of bool type and by default, True.
- The elements should be sorted in ascending order or not.


#### pct:

- It is of bool type and by default, False.
- To display the returned rankings in percentile form or not.


### Optional Parameter:

#### numeric_only:
- It is of the bool type.
- Ranking only numeric columns for DataFrame objects when the value is True.

#### Return Type
- It returns a Series or DataFrame with values according to the data ranks. Series that includes the caller series' rank for each index. A DataFrame will be returned if a DataFrame is passed into the Pandas.rank() method, and a series (or a column) will be returned if a series is passed in. This is because the method is designed to return the same type as the object that is called it.

In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D'],
    'salary': [50000, 70000, 60000, 70000]
})

df['rank'] = df['salary'].rank()
print(df)

  name  salary  rank
0    A   50000   1.0
1    B   70000   3.5
2    C   60000   2.0
3    D   70000   3.5

In [4]:
df["rank_desc"] = df["salary"].rank(ascending=False)
print(df)

  name  salary  rank  rank_desc
0    A   50000   1.0        4.0
1    B   70000   3.5        1.5
2    C   60000   2.0        3.0
3    D   70000   3.5        1.5

In [5]:
df['rank_avg']   = df['salary'].rank(method='average')  # default
df['rank_min']   = df['salary'].rank(method='min')      # SQL RANK()
df['rank_dense'] = df['salary'].rank(method='dense')    # SQL DENSE_RANK()
df['rank_first'] = df['salary'].rank(method='first')    # based on order

In [6]:
df

  name  salary  rank  rank_desc  rank_avg  rank_min  rank_dense  rank_first
0    A   50000   1.0        4.0       1.0       1.0         1.0         1.0
1    B   70000   3.5        1.5       3.5       3.0         3.0         3.0
2    C   60000   2.0        3.0       2.0       2.0         2.0         2.0
3    D   70000   3.5        1.5       3.5       3.0         3.0         4.0

In [ ]:
df = pd.DataFrame({
    'dept': ['IT', 'IT', 'HR', 'HR'],
    'name': ['A', 'B', 'C', 'D'],
    'salary': [70000, 60000, 50000, 70000]
})

df['rank_dense'] = df.groupby('dept')['salary'].rank(
    method='dense', ascending=False
)
print(df)

  dept name  salary  rank_dense
0   IT    A   70000         1.0
1   IT    B   60000         2.0
2   HR    C   50000         2.0
3   HR    D   70000         1.0

In [29]:
df = pd.DataFrame({
    'dept': ['IT', 'IT', 'IT', 'IT', 'HR', 'HR', 'HR'],
    'name': ['A', 'B', 'C','CT','D','E','f',],
    'salary': [70000, 60000,20000,20000, 50000, 70000, 90000]
})

In [30]:
df.groupby("dept")["salary"].rank(ascending=False)

0    1.0
1    2.0
2    3.5
3    3.5
4    3.0
5    2.0
6    1.0
Name: salary, dtype: float64

In [38]:
df["dense_rank"] = df.groupby('dept')['salary'].rank(method='dense',ascending=False)

In [39]:
df

  dept name  salary  dense_rank
0   IT    A   70000         1.0
1   IT    B   60000         2.0
2   IT    C   20000         3.0
3   IT   CT   20000         3.0
4   HR    D   50000         3.0
5   HR    E   70000         2.0
6   HR    f   90000         1.0