In [41]:
create_list = [2,5,1,7,77,3]
out_put = 7

In [42]:
def lst_print(num, parmeter):
    sor_number= sorted(num)
    return sor_number[-parmeter]

In [43]:
lst_print_1(create_list,2)

[1, 5, 2, 3, 7, 3]

In [44]:
def lst_print_1(num, parameter):
    sorted_list = []
    for i in range(1,len(num)-1):
        if num[i-1] > num[i+1]:
            num[i-1] , num[i+1] =num[i+1], num[i-1]

    if num[i] > num[i+1]:
        num[i] , num[i+1] =num[i+1], num[i-1]
    
    
    return num

In [45]:
lst_print_1(create_list,2)

[1, 3, 2, 3, 5, 3]

In [46]:
# SQL, Python, Hive, SqlServer, Oracle, 


select max(slary) from table where slaray not in ( select max(slary) from table)

SyntaxError: invalid syntax (3234816683.py, line 4)

In [47]:
create_list.pop()

3

In [48]:
create_list

[1, 3, 2, 3, 5]

In [50]:
create_list.sort()

In [52]:
create_list

[1, 2, 3, 3, 5]

In [54]:
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
print(numbers[11:1:-2])

(11, 9, 7, 5, 3)

In [55]:
class car():
    def __init__(self, colur, speed, breaks):
        self.colur = colur
        self.speed = speed
        self.breaks = breaks

    def car_config(self):
        return f"Car has {self.colur} and speed range is {self.speed}"
    
    def use_break(self):
        return f"max break {self.breaks}"

In [56]:
car_object = car("red", 22, 33)

In [59]:
print(car_object.car_config())

Car has red and speed range is 22

In [62]:
for i, j in enumerate(create_list):
    print(i)
    print(j)

0
1
1
2
2
3
3
3
4
5

In [81]:
import random

lst = random.sample((range(4, 101,4)),20)

In [82]:
lst

[36, 76, 12, 100, 92, 80, 4, 60, 68, 32, 40, 8, 64, 52, 88, 72, 16, 56, 28, 44]