In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/ritkumar17/Desktop/R&D_Project/data_science_interview/data_science_interview/Bank Customer Historic Data.csv")

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
# implemnet logistics regression:
import numpy as np

In [ ]:
def sigmoid(z):
    return (1/(1+np.exp(-z)))

class LogisticRegression:
    def __init__(self, learning_rate=0.01, n_iterations=1000):
        self.learning_rate = learning_rate
        self.n_iterations = n_iterations
        self.weights = None
        self.bais = None

    def fit(self, X, y):
        n_samples, n_feature = X.shape
        self.weights = np.zeros(n_feature)
        self.bais = 0

        for _ in range(self.n_iterations):
            linear_model = np.dot(X, self.weights) + self.bais
            y_predicted = sigmoid(linear_model)

            dw = (1/n_samples) * np.dot(X.T, (y_predicted-y))
            db = (1/n_samples) * np.sum(y_predicted-y)

            self.weights -= self.learning_rate * dw
            self.bais -= self.learning_rate * db 

    def predict_prob(self, X):
        linear_model = np.dot(X, self.weights) + self.bias
        return sigmoid(linear_model)

    def predict(self, x, threshold = 0.5):
        y_prob = self.predict_prob(X)
        return np.where(y_prob >= threshold,1,0)

### Group By

In [10]:
import pandas as pd
data_df = pd.read_csv("/Users/ritkumar17/Desktop/R&D_Project/data_science_interview/data_science_interview/train_v9rqX0R.csv")

In [12]:
data_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [13]:
# So let’s find out the total sales for each location type:

In [15]:
data_df.groupby("Outlet_Location_Type")["Item_Outlet_Sales"].sum()

Outlet_Location_Type
Tier 1    4.482059e+06
Tier 2    6.472314e+06
Tier 3    7.636753e+06
Name: Item_Outlet_Sales, dtype: float64

In [19]:
data_df.groupby("Outlet_Location_Type")["Item_Weight"].agg([np.mean, np.median])

/var/folders/00/rndss5vd6h9cdr24fwvnz6kw0000gp/T/ipykernel_56273/3392480614.py:1: FutureWarning: The provided callable <function mean at 0x103c54680> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_df.groupby("Outlet_Location_Type")["Item_Weight"].agg([np.mean, np.median])
/var/folders/00/rndss5vd6h9cdr24fwvnz6kw0000gp/T/ipykernel_56273/3392480614.py:1: FutureWarning: The provided callable <function median at 0x103d85120> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  data_df.groupby("Outlet_Location_Type")["Item_Weight"].agg([np.mean, np.median])

                           mean  median
Outlet_Location_Type
Tier 1                12.892124  12.625
Tier 2                12.768628  12.500
Tier 3                12.933745  12.650

In [21]:
data_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### The Item_Fat_Content and Item_Type will affect the Item_Weight, don’t you think? So, let’s group the DataFrame by these columns and handle the missing weights using the mean of these groups:

In [23]:
data_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [26]:
data_df["Item_Weight"]=data_df.groupby(["Item_Type", "Item_Fat_Content"])["Item_Weight"].transform(lambda x : x.fillna(x.mean()))

In [27]:
#Slice by rows

In [29]:
data_df[0:3]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [31]:
# 2. Slice by columns using labels

In [32]:
data_df[["Item_Fat_Content", "Item_Visibility"]]

     Item_Fat_Content  Item_Visibility
0             Low Fat         0.016047
1             Regular         0.019278
2             Low Fat         0.016760
3             Regular         0.000000
4             Low Fat         0.000000
...               ...              ...
8518          Low Fat         0.056783
8519          Regular         0.046982
8520          Low Fat         0.035186
8521          Regular         0.145221
8522          Low Fat         0.044878

[8523 rows x 2 columns]

In [36]:
# Slice by .loc (label-based)


data_df.loc[0:2, "Item_Fat_Content":"Item_MRP"]

  Item_Fat_Content  Item_Visibility    Item_Type  Item_MRP
0          Low Fat         0.016047        Dairy  249.8092
1          Regular         0.019278  Soft Drinks   48.2692
2          Low Fat         0.016760         Meat  141.6180

In [40]:
data_df.iloc[1:6, 0:2]

  Item_Identifier  Item_Weight
1           DRC01        5.920
2           FDN15       17.500
3           FDX07       19.200
4           NCD19        8.930
5           FDP36       10.395

In [41]:
numbers = [10, 20, 30, 40, 50, 60, 70]

In [47]:
numbers[-1:0:-2]

[70, 50, 30]

In [49]:
data_df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [50]:
data_df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [51]:
list1 = [2,4,5,6,7]
list2 = [7,9.19,7]

In [52]:
list1.extend(list2)

In [53]:
list1

[2, 4, 5, 6, 7, 7, 9.19, 7]

In [ ]:
#find prime number

In [64]:
def check_prime(n):

    if n ==1:
        return True
    elif n ==2:
        return True

    else:
        for i in range(2, int(n**0.5) +1):
            if n %i ==0:
                return False

        return True

In [65]:
check_prime(13)

True

In [67]:
lis1= [1,55,66,32,12,13,11,1,55,66,2]

[check_prime(x) for x in lis1]

[True, False, False, False, False, True, True, True, False, False, True]

In [ ]:
def welcome(fx):
    def mfx(*t, **d):
        print("Before hellow")
        fx(*t,**d)
        print("After hellow")
    return mfx

@welcome
def hhi():
    print("gejj")

In [70]:
hhi()

Before hellow
gejj
After hellow

In [74]:
lis1= [1,55,66,32,12,13,11,1,55,66,2]

["Even" if x%2==0  else "odd" for x in lis1 ]

['odd',
 'odd',
 'Even',
 'Even',
 'Even',
 'odd',
 'odd',
 'odd',
 'odd',
 'Even',
 'Even']

In [75]:
list1.pop(1)

4

In [76]:
list1

[2, 5, 6, 7, 7, 9.19, 7]

In [77]:
list1.pop()

7

In [78]:
list1

[2, 5, 6, 7, 7, 9.19]

In [79]:
list1.pop(1)

5

In [80]:
list1

[2, 6, 7, 7, 9.19]

In [1]:
import pandas as pd

# Prices table
Prices = pd.DataFrame({
    "product_id": [1, 1, 2, 2],
    "start_date": pd.to_datetime(["2019-02-17", "2019-03-01", "2019-02-01", "2019-02-21"]),
    "end_date": pd.to_datetime(["2019-02-28", "2019-03-22", "2019-02-20", "2019-03-31"]),
    "price": [5, 20, 15, 30]
})

# UnitsSold table
UnitsSold = pd.DataFrame({
    "product_id": [1, 1, 2, 2],
    "purchase_date": pd.to_datetime(["2019-02-25", "2019-03-01", "2019-02-10", "2019-03-22"]),
    "units": [100, 15, 200, 30]
})

In [2]:
merged = UnitsSold.merge(Prices, on="product_id", how="left")

In [3]:
merged

   product_id purchase_date  units start_date   end_date  price
0           1    2019-02-25    100 2019-02-17 2019-02-28      5
1           1    2019-02-25    100 2019-03-01 2019-03-22     20
2           1    2019-03-01     15 2019-02-17 2019-02-28      5
3           1    2019-03-01     15 2019-03-01 2019-03-22     20
4           2    2019-02-10    200 2019-02-01 2019-02-20     15
5           2    2019-02-10    200 2019-02-21 2019-03-31     30
6           2    2019-03-22     30 2019-02-01 2019-02-20     15
7           2    2019-03-22     30 2019-02-21 2019-03-31     30

In [4]:
merged = merged[
    (merged["purchase_date"] >= merged["start_date"]) &
    (merged["purchase_date"] <= merged["end_date"])
]

merged["revenue"] = merged["units"] * merged["price"]

/var/folders/00/rndss5vd6h9cdr24fwvnz6kw0000gp/T/ipykernel_3297/465084022.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged["revenue"] = merged["units"] * merged["price"]

In [5]:
merged

   product_id purchase_date  units start_date   end_date  price  revenue
0           1    2019-02-25    100 2019-02-17 2019-02-28      5      500
3           1    2019-03-01     15 2019-03-01 2019-03-22     20      300
4           2    2019-02-10    200 2019-02-01 2019-02-20     15     3000
7           2    2019-03-22     30 2019-02-21 2019-03-31     30      900

In [ ]:
result = (
    merged.groupby("product_id", as_index=False)
          .agg(
              total_revenue=("revenue", "sum"),
              total_units=("units", "sum")
          )
)

In [12]:
result

   product_id  total_revenue  total_units
0           1            800          115
1           2           3900          230