In [3]:
# Merge Strings Alternately

def merge_str(s1,s2):
    s3 = []
    for i, z in zip(s1,s2):
        s3.append(i)
        s3.append(z)

    s3.extend(s1[len(s1):])
    s3.extend(s2[len(s2):])

    return "".join(s3)

In [4]:
merge_str("rit", "kinshu")

'rkiitn'

In [9]:
# Greatest Common Divisor of Strings

def gcd(a, b):
    while b:
        a, b = b, a%b
    return a

def cds(str1, str2):

    if str1 + str2 != str2 + str1:
        return ""
    
    len_gcd = gcd(len(str1), len(str2))

    return str1[:len_gcd]

In [10]:
cds("abab", "ab")

'ab'

In [ ]:
 #Kids With the Greatest Number of Candies
 def gnc(chld_a, extra):
    result_out = []

    max_can = max(chld_a)

    for i in chld_a:
        if max

In [11]:
## Reverse Vowels of a String

In [16]:
def rv(str1):
    str1 = list(str1)
    v = "aeiouAEIOU"
    r = len(str1) -1
    l = 0

    while l < r :
        while l < r and str1[r] not in v :
            r -=1
        while l <r and str1[l] not in v:
            l +=1

        str1[l], str1[r] = str1[r], str1[l]

        r -=1
        l +=1
    

    return "".join(str1)

In [17]:
rv("IceCreAm")

'AceCreIm'

In [21]:
 #Product of Array Except Self

def pes(array1):
    n = len(array1)
    result = [1] * n
    prefix =1

    for i in range(n):
        result[i] =prefix
        prefix *= array1[i]

    
    sufix =1

    for i in range(n-1, -1, -1):
        result[i] *= sufix
        sufix *= array1[i]

    return result

In [22]:
nums = [1,2,3,4]

pes(nums)

[24, 12, 8, 6]

In [24]:
 #Increasing Triplet Subsequence

def its(nums):
    first = float("inf")
    second = float('inf')

    for i in nums :
        if i<= first:
            first = i
        elif i<= second:
            second = i

        else :
            return True

    return False

In [29]:
its([5,4,3,2,1])

False

In [40]:
# Max Number of K-Sum Pairs

def mkp(num, k):
    
    num.sort()

    cunt =0
    l = 0
    r = len(num) -1

    while l < r:
        prs = num[l]  + num[r]

        if prs ==k:
            cunt +=1
            l +=1
            r -=1
        if prs < k :
            l +=1
        
        else :
            r -=1

    return cunt


nums = [1,2,3,4]
k = 5
mkp(nums, k)

1

In [ ]:
 #Container With Most Water
def mxa(h):

    a= 0
    l = 0
    r = len(h) -1

    while l < r :
        w = r -l
        mn_h = min(h[l], h[r])
        a = max(a, mn_h * w)

        if h[l] <h[r]:
            l +=1
        
        else:
            r -=1
    return a

height = [1,8,6,2,5,4,8,3,7]
mxa(height)

49

In [15]:
def ngrm_computaion(input_str, ngram_range):
    special=["!", ".", ",", "-", "?", ";", ":"]
    input_data = input_str.lower()
    for sp in special:
        input_data = input_data.replace(sp, " ")
    input_data = input_data.split(" ")
    ngram_dic= {}
    
    for ch in ngram_range:
        if ch !=1:
            input_data_n=[]
            j = len(input_data)
            jn=0
            while j:
                input_data_str = " ".join(input_data[jn:ch+jn])
                input_data_n.append(input_data_str)
                j -=1
                jn +=1
        if ch ==1:
            input_data_n = input_data
        else :
            input_data_n = input_data_n
            
        for i in (input_data_n):
            if i in ngram_dic.keys():
                ngram_dic[i] +=1
            else :
                ngram_dic[i] =1
                
    return ngram_dic

In [17]:
print(ngrm_computaion("The blue bird - sings a song, and the blue bird flies away.!", [1,2,3]))

{'the': 2, 'blue': 2, 'bird': 2, '': 7, 'sings': 1, 'a': 1, 'song': 1, 'and': 1, 'flies': 1, 'away': 1, 'the blue': 2, 'blue bird': 2, 'bird ': 1, ' ': 3, ' sings': 1, 'sings a': 1, 'a song': 1, 'song ': 1, ' and': 1, 'and the': 1, 'bird flies': 1, 'flies away': 1, 'away ': 1, 'the blue bird': 2, 'blue bird ': 1, 'bird  ': 1, '  sings': 1, ' sings a': 1, 'sings a song': 1, 'a song ': 1, 'song  and': 1, ' and the': 1, 'and the blue': 1, 'blue bird flies': 1, 'bird flies away': 1, 'flies away ': 1, 'away  ': 1}

In [1]:
def ngram_computation(input_str, ngram_range):
    # normalize & clean text
    special = "!.,-?;:"
    text = input_str.lower()
    for sp in special:
        text = text.replace(sp, " ")

    tokens = [t for t in text.split() if t]

    ngram_dict = {}

    for n in ngram_range:
        length = len(tokens)

        if n == 1:
            for tok in tokens:
                ngram_dict[tok] = ngram_dict.get(tok, 0) + 1
        else:
            for i in range(length - n + 1):
                gram = " ".join(tokens[i:i+n])
                ngram_dict[gram] = ngram_dict.get(gram, 0) + 1

    return ngram_dict

In [2]:
import pandas as pd

date = pd.to_datetime("2019-07-27")

# Subtract 29 days
new_date = date - pd.Timedelta(days=29)

print(new_date)

2019-06-28 00:00:00

In [8]:
# product_id  first_year  quantity  price
# 1           2018        10        100
# 1           2018         5        120
# 2           2020         8        200

data_df = pd.DataFrame({"product_id": [1,1,1,2], 
                        "first_year": [2018, 2018,2019, 2020], "quantity": [10, 5,20, 8], "price": [100, 120,500, 100]})

In [9]:
data_df

   product_id  first_year  quantity  price
0           1        2018        10    100
1           1        2018         5    120
2           1        2019        20    500
3           2        2020         8    100

In [16]:
first_year = data_df.groupby("product_id")["first_year"].transform("min")

In [17]:
data_df[data_df["first_year"]==first_year]

   product_id  first_year  quantity  price
0           1        2018        10    100
1           1        2018         5    120
3           2        2020         8    100

In [19]:
data_df.groupby("product_id", as_index=False)["first_year"].nunique()

   product_id  first_year
0           1           2
1           2           1

In [25]:
data_df[data_df["first_year"]==data_df["first_year"].max()]

   product_id  first_year  quantity  price
3           2        2020         8    100